.Experiences {
    display: flex;
    flex-direction: row;
    margin-top: -2rem;
}

.MoreExperiences {
    margin-top: 0rem;
    text-align: center;
}

@media (min-width: 992px) {
    .Experiences {
        flex-direction: column;
        margin-top: 0;
    }
    .MoreExperiences {
        margin-top: 0;
    }
}
